/stringmethodgyak/nbproject/private/
/stringmethodgyak/build/
/dogajavito1025/nbproject/private/
/dogajavito1025/build/
/metodusok/nbproject/private/
/metodusok/build/
/metodusok2.0/nbproject/private/
/metodusok2.0/build/
/rendszam/nbproject/private/
